<!DOCTYPE html>
<html>
    <head>
        <title><%= page.title %></title>
    </head>
    <body>
        <div class="content">
            <%- slots.content %>
        </div>
        <div class="aside">
            <%- slots.sidebar %>
        </div>
    </body>
</html>